{% csrf_token %}
            <div id="form-contain">
                
                <!--
                <div class="fieldWrapper">
                <label for="doi_tac_comment">Đối tác:</label></br>
                <input class="form-control autocomplete" type="text" id="doi_tac_comment" name="doi_tac_fr" value="{%if comment_form.doi_tac.Full_name%}{{comment_form.doi_tac.Full_name}}{%endif%}" autocomplete="off" style="width:500px">
                </div>

                    -->
                {%for field in comment_form%}
                {% if field.html_name == "datetime" %}
                <div class="fieldWrapper {{field.css_classes}} {{field.id_for_label}}">

                {{field.label_tag}} ({{ field.help_text|safe }})
                <div  class='input-group date' id='datetimepicker_comment'>
                {{field}}
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                
                </div>
                
                </div>
                
                
                {% else %}
                <div class="fieldWrapper">
                {{field.label_tag}}{{field}}{{ field.help_text|safe }}
                </div>
                {% endif %}


                {%endfor%}
                
</br>
</div>
  <button type="submit" class="btn btn-default addcomment-ok-btn" >OK</button>