{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
<div >
   <div class = "wrapper-modal">
      <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title add-comment-modal-title" style="{{form.modal_title_style}}">{{form.modal_prefix_title}} {{form.verbose_form_name}}</h4>
            </div>
            <div class="form-table-wrapper" id = "manager-modal">
               <div class="col-sm-12 form-manager" style="padding-top:20px;">
                  {%if form %}
                  {% crispy form %}
                  {%endif%}
                  {{form_notification |safe}}
               </div>
               <div class="col-sm-12 table-manager"  style="padding-top:20px;">
                  {%if table_notification %}
      {{table_notification |safe}}
{%endif%}
                  {%if table %}
                  {% render_table table "drivingtest/custom_table_template_mll.html" %}
                  {%endif%}
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
</div>