{% extends 'drivingtest/base.html' %}
{% block title %}import database from excel{% endblock %}
{% block body_block %}
<div class="container">
   <h1>Import Files</h1>
   <br>
   <div class="alert alert-info" style="margin-bottom:0px">
      <strong>{{result_handle_file|linebreaksbr}}</strong> 
   </div>
   <form  id="category_form" method="post" action="/omckv2/upload_excel_file/" enctype="multipart/form-data">
      {% csrf_token %}
      <label>Which Sheet you want import?</label>
      <ul id="id_sheetchoice">
         DB3G.xls
         <li><label for="id_sheetchoice_0"><input id="id_sheetchoice_0" name="sheetchoice" type="checkbox" value="Excel_3G"> Ericsson 3G</label></li>
         <li><label for="id_sheetchoice_1"><input id="id_sheetchoice_1" name="sheetchoice" type="checkbox" value="Excel_to_2g"> Database 2G</label></li>
         <li><label for="id_sheetchoice_2"><input id="id_sheetchoice_2" name="sheetchoice" type="checkbox" value="Excel_to_2g_config_SRAN"> 2G SRAN HCM Config</label></li>
         <li><label for="id_sheetchoice_3"><input id="id_sheetchoice_3" name="sheetchoice" type="checkbox" value="Excel_to_3g_location"> 3G Site Location</label></li>
         <li><label for="id_sheetchoice_4"><input id="id_sheetchoice_4" name="sheetchoice" type="checkbox" value="ALL"> ALL</label></li>
         Another file.xls
         <li><label for="id_sheetchoice_5"><input id="id_sheetchoice_5" name="sheetchoice" type="checkbox" value="Excel_ALU">ALU</label></li>
         <li><label for="id_sheetchoice_6"><input id="id_sheetchoice_6" name="sheetchoice" type="checkbox" value="Excel_NSM">NSM</label></li>
      </ul>
      <div class="alert alert-info" style="margin-bottom:0px">
   </div>
      <p><label for="id_file">Chon file database_3g excel:</label> <input id="id_file" name="file" type="file"></p>
      <hr>
      <p><label for="id_is_available_file">if available in media/document folder:</label> <input id="id_is_available_file" name="is_available_file" type="checkbox"></p>
      <hr>
      <button class="btn btn-primary" type="submit" name="submit">upload file to server</button>
   </form>
</div>
{% endblock %}