<form  id="amll-form">
          <div style="display:none"><input type="hidden" value="{{id_mll_entry}}" name="id-mll-entry"></div>
          {% csrf_token %}
         <table class="table tablemllfilter table-bordered " >
          <thead> 
          <tr > 
          <th class="id">id</th>
          <th class="subject">subject</th>
          <th class="site_name">site name</th> 
          <th class="thiet_bi">thiet bi</th>
          <th class="nguyen_nhan">nguyen nhan</th> 
          <th class="ung_cuu">ung cuu</th> 
          <th class="thanh_vien">thanh vien</th> 
          <th class="ca_truc">ca truc</th> 
            
            <th class="gio_mat ">gio mat</th> 
            <th class="gio_tot ">gio tot</th> 
            <th class="specific_problem ">specific problem</th> 
            <th class="doi_tac ">doi tac</th>
            <th class="cac_buoc_xu_ly">cac_buoc_xu_ly</th>
            <th class="giao_ca">giao ca</th>

            <th class="edit_comlumn">Edit Comlumn</th> </tr> </thead> 

          <tbody id="mll-filter"> <tr class="odd"> 
          <td class="id">
            {%if mllform.id.value%}{{mllform.id.value}}{%endif%}</td>

            <td class="subject">
              <input class="expand-input1" type="text" id="id_thiet_bi_input" name="subject" value ="{%if mllform.subject.value%}{{mllform.subject.value}}{%endif%}" autocomplete="off">
              <div id ="sugesstion-id_thiet_bi" style="position: absolute; margin-top:40px;" ></div>
            </td>
            
            <td class="site_name">
              <input class="expand-input" type="text" id="id_site_name" name="site_name" value ="{%if mllform.site_name.value%}{{mllform.site_name.value}}{%endif%}" autocomplete="off">
            </td>

            <td class="thiet_bi">
              <input class="expand-input" type="text" id="id_thiet_bi" name="thiet_bi" value ="{%if mllform.thiet_bi.value%}{{mllform.thiet_bi.value}}{%endif%}" autocomplete="off">
            </td>

            <td class="nguyen_nhan">
              <input class="expand-input autocomplete" type="text" id="id_nguyen_nhan" name="nguyen_nhan" value ="{%if mllform.nguyen_nhan.value%}{{mllform.nguyen_nhan.value}}{%endif%}" autocomplete="off">
            </td>


            <td class="ung_cuu"  >
              <select name = "ung_cuu" >
            {% if mllform.ung_cuu.value%}
            {% with selected_of_false="" selected_of_true="selected" %}
            <option value="False" {{selected_of_false}}>No</option>
  <option value="True" {{selected_of_true}}>Yes</option>
  {%endwith%}
            {%else%}
            {% with selected_of_false="selected" selected_of_true="" %}
            <option value="False" {{selected_of_false}}>No</option>
  <option value="True" {{selected_of_true}}>Yes</option>
  {%endwith%}
            {%endif%}
            </select>
          </td>


            <td class="thanh_vien"><input class="expand-input" type="text" id="thanh_vien" name="thanh_vien" value ="{%if mllform.thanh_vien.value%}{{mllform.thanh_vien.value}}{%endif%}"></td>
            <td class="ca_truc"><input class="expand-input" type="text" id="he_thong" name="ca_truc" value ="{%if mllform.ca_truc.value%}{{mllform.ca_truc.value}}{%endif%}"></td>

             <td class="gio_mat">
              
               

              <div  class='input-group date datetimepicker' id='datetimepicker1'>
                <input class="expand-input1 form-control" type="text"  id="gio_mat1" name="gio_mat" value ="{%if mllform.gio_mat.value%}{{mllform.gio_mat.value|date:'Y-m-d H:i'}}{%endif%}">
             <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
              Fill greater than bellow date:
              <div  class='input-group date datetimepicker'>
                <input type="text"  class="expand-input1 form-control" id="gio_mat2" name="gio_mat2">
              <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span> 
                  </div>
            </td> 

             <td class="gio_tot">
              
              <div  class='input-group date datetimepicker ' id='datetimepicker2'>
                <input class="expand-input1 form-control" type="text" id="gio_tot" name="gio_tot" value ="{%if mllform.gio_tot.value%}{{mllform.gio_tot.value|date:'Y-m-d H:i'}}{%endif%}">
              <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
              </div>

            </td> 
             <td class="specific_problem"><textarea class = "expand" type="text"  id="specific_problem" name="specific_problem" autocomplete="off" >{%if mllform.specific_problem.value%}{{mllform.specific_problem.value}}{%endif%}</textarea></td> 
             <td class="doi_tac"><input class="input-filter1 expand-input autocomplete"  type="text" id="doi_tac" name="doi_tac_fr" value ="{%if mllform.doi_tac.value%}{{mllform.doi_tac.value}}{%endif%}"></td> 
             
            <td class="cac_buoc_xu_ly"><textarea class="expand " type="text"  id="cac_buoc_xu_ly" name="cac_buoc_xu_ly" value ="">{%if mllform.cac_buoc_xu_ly.value%}{{mllform.cac_buoc_xu_ly.value}}{%endif%}</textarea></td> 
             
            <td class="giao_ca"  >
              <select name = "giao_ca" >
            {% if mllform.ung_cuu.value%}
            {% with selected_of_false="" selected_of_true="selected" %}
            <option value="False" {{selected_of_false}}>No</option>
  <option value="True" {{selected_of_true}}>Yes</option>
  {%endwith%}
            {%else%}
            {% with selected_of_false="selected" selected_of_true="" %}
            <option value="False" {{selected_of_false}}>No</option>
  <option value="True" {{selected_of_true}}>Yes</option>
  {%endwith%}
            {%endif%}
            </select>
          </td>



             <td class="edit_comlumn">
              <input class=" d4btn btn btn-default filter-dsmll btn-filter-mll"  type="submit" value ="Filter"></br>
              {%if id_mll_entry%}
             <input type="submit" name="mll" value="Edit MLL" class="d4btn btn btn-primary " id="submit-id-mll-table">
             {%else%}
             <input type="submit" name="mll" value="Tao MLL" class="d4btn btn btn-primary  " id="submit-id-mll-table">
             {%endif%}
             <input type="submit"  value="Cancle" class="d4btn btn btn-danger " id="Cancle">
           </td> 
           </tr>
          

              </tbody> 

            </table>

        
       </form>

       