{% extends 'drivingtest/base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load get_current_time%}
{% block title %}OMCKV2-Home page{% endblock %}
{% block body_block %}
{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" id="modal-on-mll-table" role="dialog"></div>
<!--####-->
<div class="container-fluid main-body-page">
   <div class="col-sm-12">
      <div class="panel-group">
         <div class="panel panel-success">
            <div class="panel-heading">
               <h2 class = "tram-command text-danger" align="center" >
               Thông Tin Trạm
               <h2>
            </div>
         </div>
      </div>
      
      <ul class="nav nav-tabs">
         <li id="tram-form-toogle-li" ><a data-toggle="tab" href="#tram-form-toogle" >tram form</a></li>
         <li id="tram-table-toogle-li"><a data-toggle="tab" href="#tram-table-toogle" >tram table</a></li>
         <li  class="active hide-tab"><a data-toggle="tab" href="#hide-tram">Hide Thông tin Trạm</a></li>
      </ul>
      <div  id = "form-table-of-tram-info" class="tab-content form-table-wrapper" >
               <div class = "row">
         <div class=" col-sm-6 col-sm-offset-3 ">
            <div class = "search-w input-group" style="margin-top:20px">
               <input type="text" style = "height:50px;font-size:15px"class="form-control autocomplete_search_tram" id="text-search-input" placeholder="Search Trạm..." data-provide="typeahead" name="main_suggestion"/><span class="input-group-btn" ><button style = "margin-left:5px;height:50px;width:50px" class="btn btn-success search-botton" type="button"><i class ="glyphicon glyphicon-search"></i></button>
               </span>
            </div>
         </div>
      </div>
               <div id ="tram-form-toogle" class="tab-pane fade">
               <div  id ="tram-form" class=" form-manager" style="padding-top:20px;">
                  {% crispy tramform %}
               </div>
            </div>
            <div id= "tram-table-toogle" class="tab-pane fade">
               <div id ="tram-table" class="table-manager" style="padding-top:20px;">
                  {%if tramtable%}
                  {% render_table tramtable  "drivingtest/custom_table_template_mll.html"%}
                  {%endif%}
               </div>
            </div>
            
            <div id="hide-tram" class="tab-pane active fade in">
               <p class="hiding-tab"style="font-size:20;color:blue;"> Hiding Thông tin Trạm </p>
            </div>
         
         <!--search-tram-toggle-->
      </div>
   </div>
   <!--Quản lý, Lệnh , Lịch sử tìm kiếm -->
   <div class = "col-sm-12" style = "clear:both;margin-top:30px">
      <div class="panel-group">
         <div class="panel panel-success">
            <div class="panel-heading">
               <h2 class = "tram-command text-danger" align="center" >
               Quản lý, Lệnh , Lịch sử tìm kiếm
               <h2>
            </div>
         </div>
      </div>
      <ul class="nav nav-tabs">
         <li ><a data-toggle="tab" href="#command-toggle" style="color:red">list of command</a></li>
         <li><a data-toggle="tab" href="#history_search">History Search</a></li>
         <li><a data-toggle="tab" href="#manager">manager</a></li>
         <li class="active hide-tab" class="active"><a data-toggle="tab" href="#Hide-tab">Hide Quản lý...</a></li>
      </ul>
      <div class="tab-content">
         <div id="command-toggle" class="tab-pane  fade in form-table-wrapper">
            <div class="form-manager" >
               {% crispy commandform %}
            </div>
            </br>
            <div class="row">
               <div class="col-sm-3 ">
                  <div class = "search-w input-group" style="margin:15px">
                     <input type="text" class="form-control autocomplete_search_manager" id="text-search-input" placeholder="Search in this database" data-provide="typeahead" name="manager_suggestion"/><span class="input-group-btn" ><button class="btn btn-success search-manager-botton" type="button"><i class ="glyphicon glyphicon-search"></i></button>
                     </span>
                  </div>
               </div>
            </div>
            </br>
            <div class="col-sm-6 table-manager" style = "clear:both"> 
               {% render_table lenhtable "drivingtest/custom_table_template_mll.html"%}
            </div>
            <div class="col-sm-6 ">
               <table id="myTable" class="table  table-bordered">
                  <thead>
                     <tr>
                        <th class="desc id orderable sortable">ID</th>
                        <th class="command orderable sortable">command</th>
                        <th class="orderable sortable ten_lenh">ten lenh</th>
                        <th class="mo_ta orderable sortable">mo ta</th>
                        <th class="edit_comlumn">Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                  </tbody>
               </table>
               <input type="button" class="generate-command  btn btn-primary "  value="generate-command" />
               <textarea autocomplete="off" class="command-erea"></textarea>
            </div>
         </div>
         <div id="Hide-tab" class="active tab-pane  fade in">
            <p class="hiding-tab" style="font-size:20;color:blue;"> Hiding Quản lý, Lệnh , Lịch sử tìm kiếm</p>
         </div>
         <div id="history_search" class="tab-pane fade form-table-wrapper">
            <div class="form-manager">
            </div>
            <div class = "table-manager" >
               {% render_table history_search_table "drivingtest/custom_table_template_mll.html" %}
            </div>
         </div>
         <div id="manager" class="tab-pane fade form-table-wrapper">
            <div class="col-sm-12 select-model" style="margin:30px 0px;">
               {% crispy model_manager_form %}
            </div>
            <div class="row" id="search-manager-group" style = "margin:0 0 20px 0px">
               <div class="col-sm-3 ">
                  <div class = "search-w input-group" style="margin-top:20px">
                     <input type="text" class="form-control autocomplete_search_manager" id="text-search-input" placeholder="Search in this database" data-provide="typeahead" name="manager_suggestion"/><span class="input-group-btn" ><button class="btn btn-success search-manager-botton" type="button"><i class ="glyphicon glyphicon-search"></i></button>
                     </span>
                  </div>
               </div>
            </div>
            <div class="col-sm-4 form-manager">
            </div>
            <div class = "col-sm-8 table-manager" >
            </div>
         </div>
      </div>
      <!--div class="tab-content"-->
   </div>
   <!--quan ly lenh , history-->
   <!--Truc ca-->
   <div class="col-sm-12 truc-ca" style="padding-top:20px;" id = "mll-filter-add-div">
      <div class="panel-group">
         <div class="panel panel-success">
            <div class="panel-heading">
               <h2 class = "tram-command text-danger" align="center" >
               Trực Ca 
               <h2>
            </div>
         </div>
      </div>
      <ul class="nav nav-tabs">
         <li ><a data-toggle="tab" href="#trucca-toggle" style="color:red">Truc ca Tab</a></li>
         <li class="active hide-tab" class="active"><a data-toggle="tab" href="#hide-trucca">Hide Trực Ca</a></li>
      </ul>
      <div class="tab-content">
         <div id="trucca-toggle" class="tab-pane  fade in form-table-wrapper">
            <div class="form-table-wrapper" id="mll-form-table-wrapper">
               <div class="col-sm-12 form-manager" style="padding-top:20px;">
                  {% crispy mllform %}
                  {{notification|safe}}
               </div>
               <div class="col-sm-12 table-manager"  style="padding-top:20px;">
                  {% render_table mlltable "drivingtest/custom_table_template_mll.html" %}
               </div>
            </div>
         </div>
         <div id="hide-trucca" class="tab-pane active fade in form-table-wrapper">
            <p class="hiding-tab" style="font-size:20;color:blue;"> Hiding Trực Ca </p>
         </div>
      </div>
   </div>
</div>
<!-- end container-->
<div id="loading">
   <img id ="loading-image"src="/media/ajax-loader.gif">
   <H2>LOADING</H2>
</div>
{% endblock %}