<!--
<div class ="col-sm-3 ">
{% for field in form|slice:":11" %}

    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}
        <input class="textinputdetail" type="text" maxlength="40" value="{{ field.value }}" name="{{ field.name}}" id="id_{{ field.name }}" readonly>

    </div>
{% endfor %}

</div>
<div class ="col-sm-3 ">

{% for field in form|slice:"11:22" %}

    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
</div>


<div class ="col-sm-3 ">

{% for field in form|slice:"23:34" %}

    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
</div>

<div class ="col-sm-3 ">

{% for field in form|slice:"34:" %}

    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
</div>
-->
{% load crispy_forms_tags %}
{% crispy example_form  %}