{% extends 'drivingtest/base.html' %}
{% block title %}{{linhkien.name}}{% endblock %}
{% block body_block %}
<div class="container product-detail">
  <!--
   

   <div class="col-sm-12">
      <div style="float: right; margin-right:20px;">
      
      <div class="fb-like " data-href="https://www.facebook.com/pages/trangphukiencom/748983948552898" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="background:white;">
      </div> 
   </div>
-->
      <div class="row" style="margin:20px 0px">
   
         <div class="col-sm-12 " style="text-align:center;">
            <h1>{{linhkien.name}}</br></br></h1>
         </div>
         <div class="col-sm-6" >
            <div >
               {%if linhkien.picture %}
               <img src="/media/{{linhkien.picture}}" class="img-responsive"  />
               {%else%}
               <img src="{{linhkien.borrowed_picture}}" class="img-responsive" />
               {%endif%}
            </div>
            <!--end .main-img-->
         </div>
         
         <div class="col-sm-6 ">

            </br>
            <div class="myprice">         
               <span > Giá cửa hàng: </span>
               <span class="price">
               {{linhkien.price}}</span>
            </div>
            <div class="marketprice">        
               <del><span >Giá thị trường: </span>
               <span class="price">{{linhkien.old_price}}</span></del>
            </div>
            <div class="lien-he" style="border-style:double;  border-width:5px;   padding:0px 15px; margin:25px 0px; text-align:justify ">
                {% if last_OwnContact.cn2_dia_chi %}
                <span style="margin-top:10px; font-size:22px;">Đặt hàng qua số  </span> <span style="color:blue; font-style: italic; font-size:22px;">{{last_OwnContact.sodienthoai}}, {{last_OwnContact.cn2_sodienthoai}} </span>
               </br>
                <span  style="margin:10px 0px; font-size:22px;">Hoặc liên hệ trực tiếp địa chỉ:</span> </br>
                  CN1: <span style="color:red; font-style: italic; font-size:22px;margin-bottom:30px;">{{last_OwnContact.dia_chi}} </span></br>
                  CN2: <span style="color:red; font-style: italic; font-size:22px;margin-bottom:30px;">{{last_OwnContact.cn2_dia_chi}} </span>
                {%else%}
                <h3 style="margin-top:10px;">Đặt hàng qua số  <span style="color:blue; font-style: italic;">{{last_OwnContact.sodienthoai}}. </span></h3>
                <h3 style="margin-bottom:10px;">Hoặc liên hệ trực tiếp địa chỉ: <h4><span style="color:red; font-style: italic; margin-bottom:30px;">{{last_OwnContact.dia_chi}} </span></h4></h3>
                {%endif%}
            </div>
            <br>
            <div class="fb-like" data-href="/sanpham/{{linhkien.linhkien_encode_url}}/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            {%if user.is_authenticated%}
            </br></br>
            <a href="/edit_linhkien/{{linhkien.linhkien_encode_url}}/">Edit this item</a>
            <p>public datetime {{linhkien.pub_date}} </p>
            {%endif%}
         </div>
      </div>
      <!--End image and price-->
      <div class="row">
         <div class="col-sm-12 ">
            <div class="line"></div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12 product-description thumbnail ">
            <h2> Chi tiết sản phẩm</h2>
            {{linhkien.description|safe|linebreaksbr}}
         </div>
      </div>
   
   <!--product detail-->
</div>
{%endblock%}