{% extends 'drivingtest/base.html' %}
{% block title %}OMCKV2-Home page{% endblock %}
{% block body_block %}
<div class="container main-body-page">
 
        <!-- end .slider-->
        
         <div class="col-sm-3 search-and-category">
            <div class = "search-w input-group">
               <input type="text" class="form-control " id="text-search-input" placeholder="Search for...">
               <span class="input-group-btn">
               <button class="btn btn-default search-botton" type="button"><i class ="glyphicon glyphicon-search"></i></button>
               </span>
            </div>
            <!--
            <select multiple id="e1" style="width:300px">
        <option value="AL">Alabama</option>
        <option value="Am">Amalapuram</option>
        <option value="An">Anakapalli</option>
        <option value="Ak">Akkayapalem</option>
        <option value="WY">Wyoming</option>
    </select>
  -->
            <div class="suggestion" >
            </div>
         </div>

         <div class="col-sm-9 thong-tin-tram" style="padding-top:20px;">
            Day la thong tin tram
         </div>


<!-- end container-->
{% endblock %}