<div class = "container-fluid main-header " style="padding-top:0px;">
   <div class = "col-sm-3 col-sm-offset-2 topbar-address " style="padding:10px 0px; margin-right:0px;  ">
      <div class="phu-kien-tot" style="font-size:22px;font-weight:bold; color:white; text-align: center;">
         <span > TRANGPHUKIEN.COM
         </br>
         PHỤ KIỆN TỐT RẺ ĐẸP
         </span>
      </div>
   </div>
   <div class = "col-sm-2 logo text-center">
      {%if last_OwnContact.banner_url%}
      <a href = "/"><img  class="h0-logo"  src = "{{last_OwnContact.banner_url}}" alt = "logo" /> </a>
      {%else%}
      <a href = "/"><img class="h0-logo"  src = "/media/img/logo.png" alt = "logo" /> </a>
      {%endif%}
   </div>
   <div class = "col-sm-2 topbar-address">
      <div class="contact-us" >
         <div class="item">
            <div class="icon">
               <i class="glyphicon glyphicon-map-marker"></i>
            </div>
            <div class="info">
               CN1: {{last_OwnContact.dia_chi|safe|linebreaksbr}}
            </div>
            <div class="info">
               
            </div>
         </div>
         <div class="item">
            <div class="icon">
               <i class="glyphicon glyphicon-phone-alt"></i>
            </div>
            <div class="info" style="font-weight:bold;">
               {{last_OwnContact.sodienthoai|safe|linebreaksbr}}
            </div>
         </div>
      </div>
   </div>
   <div class = "col-sm-3 topbar-address">
      <div class="contact-us" style="font-size:12px;">
         <div class="item">
            <div class="icon">
               <!--<i class="glyphicon glyphicon-envelope"></i>-->
               <i class="glyphicon glyphicon-map-marker"></i>

            </div>
            <div class="info">
               CN2: {{last_OwnContact.cn2_dia_chi|safe|linebreaksbr}}
               
            </div>
         </div>
         <div class="item">
            <div class="icon">
               <i class="glyphicon glyphicon-user"></i>
            </div>
            <div class="info">
               {{last_OwnContact.ten}}({{last_OwnContact.email|safe|linebreaksbr}})
            </div>
         </div>
      </div>
   </div>
</div>