<div class = "main-header1 container-fluid">
   
      <!--
         <div class = "col-sm-4 search-w">
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search for...">
               <span class="input-group-btn">
               <button class="btn btn-default" type="button"><i class ="glyphicon glyphicon-search"></i></button>
               </span>
            </div>
            
         </div> -->

      <div class = "col-sm-6 banner1">
            <a href="/"><img src="{{last_OwnContact.banner1_url}}"  class="img-responsive pic-banner center"></a>
       
      </div>
         
      <div class = "col-sm-6 banner1">
                     <a href="/"><img src="{{last_OwnContact.banner2_url}}"  class="img-responsive pic-banner center"></a>

            
               
      </div>

     
 
</div>