<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

<style type="text/css">
#opt label{
border: 3px solid navy;
float:left;
width: 10px;
margin: 10px;

}
.quest_button{


}
.button_and_choicebox {
border: 1px solid green;

 display: inline-block;
  
  
 
}

</style>
</head>


<body>

<div class = "button_and_choicebox">
<input type="button" id="button1" idquest="1" value="Cau1">
 <div id="opt">
<label><input type="checkbox" name="option31" value="abc"> abc</label>
<label><input type="checkbox" name="option32" value="abc"> abc</label>
<label><input type="checkbox" name="option33" value="abc"> abc</label>
<label><input type="checkbox" name="option34" value="abc"> abc</label>
<label><input type="checkbox" name="option35" value="abc"> abc</label>
<label><input type="checkbox" name="option36" value="abc"> abc</label>
<label><input type="checkbox" name="option37" value="abc"> abc</label>
</div>
</div>

<div class = "button_and_choicebox" style ="border: 3px solid red;">
<input class="quest_button" type="button" id="button1" idquest="1" value="Cau1">
 <div id="opt">
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
</div>

</div>
<div class = "button_and_choicebox" style ="border: 3px solid yellow;">
<input class="quest_button" type="button" id="button1" idquest="1" value="Cau1">
 <div id="opt">
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
</div>
</div>

<div class = "button_and_choicebox">
<input class="quest_button" type="button" id="button1" idquest="1" value="Cau1">
 <div id="opt">
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
<label><input type="checkbox" name="option3" value="abc"> abc</label>
</div>
</div>
</body>
</html>
