Django==1.6.2
django-ckeditor==5.0.3
django-crispy-forms==1.5.2
django-tables2==1.0.4
django-tables2-reports==0.0.10
openpyxl==2.2.3
psycopg2==2.6
Pillow==9.0.0
xlutils==1.7.1
Unidecode==0.4.14
xlrd==0.9.3
xlwt==1.0.0


